<!-- Views/Home/Index.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Anasayfa</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Hoş Geldiniz!</h1>
    <p>Bu, ASP.NET Core MVC Empty proje örneğidir.</p>
</body>
</html>
